.tulisan_warna{
    color: blue;
    text-align: center;
    text-decoration: underline;
    letter-spacing: 5px;
}
.par1{
    text-align: center;
    letter-spacing: 5px;
}
div.fixed{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #1B659E;
}
div.relative2{
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid #73AD21;
}
div.absolute{
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid #73AD21;
}